<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Marker Clustering</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <!-- Custom styles for this template -->
    <link href="/css/dashboard.css" rel="stylesheet">

    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       .mapminheight {
        min-height: 200px;
        height: 90%;
        /* max-height: 300px; */
      }
      .map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top bg-dark flex-md-nowrap p-0">
          <a class="navbar-brand" href="/">PurplePelican</a>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="dashboard" >dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="maps">Better map</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">            Dropdown on Right</a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another</a>
                  </div>
                </li>        
              <li class="nav-item text-nowrap">
                  <a class="nav-link" href="#">
                      <span data-feather="users"></span>
                      Guy
                    </a>
                        </li>
            <li class="nav-item">
              <a class="nav-link">logout</a>
            </li>
    
          </ul>
        </nav>
        <main class="mdl-layout__content mdl-color--grey-100 mapminheight">

                <!-- Map widget-->
                <div class=" mapminheight">
                    <div class=" map mapminheight">
                        <div class="curtain"></div>
                        <div class="mapminheight  map__window">
        
                        </div>
                        <div class="mdl-card__supporting-text">
                            <div class="pull-right">
                                <div class="map__target-image">
                                    <div class="map__target-picture"></div>
                                </div>
                            </div>
                            <div class="map__target-info">
                                <h5 class="map__target-title"></h5>
                                <div class="map__target-location"></div>
                                <div class="map__target-opening-hours"></div>
                                <div class="map__target-description"></div>
                            </div>
                        </div>
                    </div>
                </div>
        
            </main>
    
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBW0td9v69m95iy5Q2YiMebpIO7ztCnuPU&language=en&callback=initMap" async defer></script>


      </main>
    </div>
  </div>

<!-- inject:js -->
<!-- <script src="js/d3.js"></script>
<script src="js/getmdl-select.min.js"></script>
<script src="js/material.js"></script>
<script src="js/nv.d3.js"></script>
<script src="js/layout/layout.js"></script>
<script src="js/widgets/employer-form/employer-form.js"></script>
<script src="js/widgets/charts/chart1.js"></script>
<script src="js/widgets/charts/chart2.js"></script>
<script src="js/widgets/charts/discreteBarChart.js"></script>
<script src="js/widgets/line-chart/line-chart-nvd3.js"></script> -->
<script src="js/widgets/map/maps.js"></script>
<!-- <script src="js/widgets/pie-chart/pie-chart-nvd3.js"></script>
<script src="js/widgets/table/table.js"></script>
<script src="js/widgets/todo/todo.js"></script> -->
<!-- endinject -->

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBW0td9v69m95iy5Q2YiMebpIO7ztCnuPU&language=en&callback=initMap" async defer></script>

</body>

</html>
